@media(min-width:201px) and (max-width: 700px) {
    .colaboradores {
        flex-direction: column;
        height: 30vh;
    }

    .div-colaboradores {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }

    .marcas {
        width: 100%;
    }

}

@media(min-width:701px) {
    .colaboradores {
        height: 20vh;
    }

    .div-colaboradores {
        display: flex;
        width: 20%;
        justify-content: center;
    }

    .marcas {
        width: 50%;
    }
}