.dog-niver {
    background-image: url("./imagens/dog-niver-web.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 150vh;
}

@media(min-width:201px) and (max-width: 700px) {
    .divTitulo h2 {
        font-size: 2.1em;
    }

    .divTitulo {
        width: 100%;
    }
}

@media(min-width:701px) {
    .divTitulo h2 {
        font-size: 2.1em;
        width: 60%;
    }
}

.divTitulo {
    display: flex;
    color: white;
    padding: 10vh;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    top: 6em;
}

.divTitulo h2 {
    display: flex;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Serif', serif;
}