@media(min-width:201px) and (max-width: 700px) {
    .dogTouca {
        background-image: url(./imagens/dog-touca-mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 190vh;
        height: 190vh;
    }
}

@media(min-width:701px) {
    .dogTouca {
        background-image: url(./imagens/dog-touca-web.png);
        height: 120vh;
        background-size: 100% 120vh;
        background-repeat: no-repeat;
    }
}

.divSubtitulo1 {
    width: 50%;
}

.div-descricao1 {
    padding-left: 2em;
    padding-top: 8em;
}

.div-descricao1 h3 {
    font-size: 3em;
    width: 9em;
    color: #3A342F;
    font-family: 'Roboto Serif', serif;
}

.div-descricao1 p {
    font-size: 1.5em;
    width: 15em;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
}