*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/cachorrinho-aniversario.png);
    background-repeat: no-repeat;

}

header{
    display: flex;
    background-color: #252525;
    /*height: 15vh;*/
    justify-content: space-between;
    align-items: center;

}