@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

/*mobile*/
@media(min-width:201px) and (max-width: 700px){
   .li-icones{
        display: none;
   }

   .li-icones img {
    height: 9vh;
   }

   .divTitulo h2{
        font-size: 2.1em;
    }

    .divTitulo{
        width: 100%;
    }

    .divSubtitulo h2{
        font-size: 2.1em;
        margin-top: 6em;
        
    }

    .divSubtitulo p{
        width: 122%;
        font-size: 2em;
    }

    .divSubtitulo .btn{
        border-radius: 50px;
        font-size: 2em;
        margin: 1em;
    }
    

}

/*web*/

@media(min-width:701px){
    .divTitulo h2{
        font-size: 2.1em;
        width: 60%;
    }

    .divSubtitulo h2{
        font-size: 3em;
        margin-top: 4em;
        width: 40%;
        color: #3A342F;
    }

    .divSubtitulo p{
        width: 40%;
        font-size: 2em;

        
    }

    .divSubtitulo .btn{
        border-radius: 50px;
        font-size: 1.5em;
        margin: 2em;
        margin: 1em;
        font-weight: bold;
    }




} 

body{
   
   
    
}

header{
    display: flex;
    background-color: #252525;
    height: 12vh;
    align-items: center;    
    width: 100%;
    position:fixed;
    z-index: 999;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding-left: 40px;
}

.img-logo{
    display: flex;
    height: 6vh;
}

header h1{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1em;
    font-family: 'Roboto Serif', serif;
}

.icones{
   /* border: solid greenyellow;*/
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: end;
    width: 45%;
    
}

.icones ul{
    display: flex;
    width: 100%;
    height: 5vh;
    gap: 12px;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}

.dogChapeu{
    background-image: url(imagens/cachorrinho-aniversario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height:150vh;
    
}

.divTitulo{
  /*  border: solid darkgreen;*/
    display: flex;
    color:white;
    padding: 10vh;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    top:6em;
}

.divTitulo h2{
  /*  border: solid fuchsia;*/
    display: flex;    
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Serif', serif;

}

/* .divTitulo img{
    border: solid greenyellow;
    display: flex;
    
} */

.dogTouca{
    background-image: url(imagens/cachorrinho-touca.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height:160vh;
    
}

.divSubtitulo h2{
    border: solid rgb(245, 214, 14);
    display: flex;
    color:#3A342F;
    padding-left: 1em;
    position: relative;
    z-index: 1;
    flex-direction: column;
    font-family: 'Roboto Serif', serif;
    
    
}

.divSubtitulo p{
    border: solid rgb(255, 0, 0);
    display: flex;    
    padding-left: 1em;
    text-align: left;
    justify-content: center;
    opacity: 1;
    

}

.btn{
   /* border: solid seagreen;*/
    text-decoration: none;
    padding: .75em 1em;
    color: #F4F2F3;
    background-color: #3A342F;
    display: inline-block;
    border-radius: 25px;
    font-size: 1em;
 

}









